<?xml version="1.0" encoding="Windows-1252"?>
<Configuration>
  <!-- Multiple instances are supported. Each instance has its own node in the config file. -->

  <!-- Instance settings -->
  <PocketShooter
		MaxMessageSize="512000"
		MaxQueuedDataPerPeer="512000"
		PerPeerMaxReliableDataInTransit="51200"
		PerPeerTransmitRateLimitKBSec="256"
		PerPeerTransmitRatePeriodMilliseconds="200"
		MinimumTimeout="5000"
		MaximumTimeout="30000"
		DisplayName="Pocket Shooter Stage"
		>

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <!-- Port 5055 is Photon's default for UDP connections. -->
    <UDPListeners>
      <UDPListener
				IPAddress="0.0.0.0"
				Port="5055"
				OverrideApplication="PocketShooter">
      </UDPListener>
    </UDPListeners>

    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			UnhandledExceptionPolicy="Ignore">
    </Runtime>

    <!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
    <!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
    <Applications Default="PocketShooter">

      <!-- Pocket Shooter Application -->
      <Application
				Name="PocketShooter"
				BaseDirectory="."
				Assembly="Heyworks.PocketShooter.Realtime.Server.Photon"
				Type="Heyworks.PocketShooter.Realtime.Server.PocketShooterApplication"
				ForceAutoRestart="true"
				WatchFiles="dll">
      </Application>

    </Applications>

  </PocketShooter>
</Configuration>
